<div
    class="sidebar-container"
    [ngClass]="{
        expanded: expanded
    }"
>
    <div class="sidebar-nav">
        <app-menu
            [menuItems]="navMenu"
            [type]="expanded ? 'panel' : 'dropdown'"
            orientation="vertical"
            (onClickMenu)="clickMenu($event)"
        ></app-menu>
    </div>
    <div
        *ngIf="expanded"
        class="sidebar-info"
    >
        <span class="gradient-1">
            {{ env.version }}
        </span>
    </div>
</div>
