<div class="ex-container animation-zoom-in">
    <div class="flex flex-col p-5 items-center">
        <div class="relative w-fit">
            <img src="../../../../../assets/images/fw-logo.svg"
                width="200"
                height="0"
                class="self-center">
            <img src="../../../../../assets/images/dummy-star.png"
                width="50"
                height="0"
                class="logo-sticker top-[-8%] left-[-12%]"
                style="rotate: -20deg;">
            <img src="../../../../../assets/images/dummy-star.png"
                width="50"
                height="0"
                class="logo-sticker top-[13%] left-[49%]">
        </div>

        <h1 class="header header-title gradient-1">
            Angular
        </h1>
        <h1 class="header header-title gradient-1">
            Base Project Framework
        </h1>
        <h3 class="header header-info gradient-1">
           {{ 'EXAMPLE_0001' | translate }}
        </h3>
    </div>

    <ng-container [ngTemplateOutlet]="lineModule"></ng-container>

    <div class="flex flex-col gap-y-6">
        <!-- BUTTON/HYPERLINK -->
        <div class="module">
            <h1 class="module-title">Button/ Hyperlink</h1>
            <p class="module-info">Normal</p>
            <div class="module-btn">
                <app-button content="Secondary"
                    styleClass="btn-secondary"
                    (onClickAction)="clickButton('Secondary')">
                </app-button>
                <app-button content="Primary"
                    styleClass="btn-primary"
                    (onClickAction)="clickButton('Primary')">
                </app-button>
                <app-button content="Danger"
                    styleClass="btn-danger"
                    (onClickAction)="clickButton('Danger')">
                </app-button>
                <app-hyperlink content="Hyperlink"
                    (onActionClick)="clickHyperlink()">
                </app-hyperlink>
            </div>

            <p class="module-info mt-4">Disabled</p>
            <div class="module-btn">
                <app-button content="Secondary"
                    styleClass="btn-secondary"
                    [disabled]="true"
                    (onClickAction)="clickButton('Secondary')">
                </app-button>
                <app-button content="Primary"
                    styleClass="btn-primary"
                    [disabled]="true"
                    (onClickAction)="clickButton('Primary')">
                </app-button>
                <app-button content="Danger"
                    styleClass="btn-danger"
                    [disabled]="true"
                    (onClickAction)="clickButton('Danger')">
                </app-button>
                <app-hyperlink content="Hyperlink"
                    [disabled]="true">
                </app-hyperlink>
            </div>
        </div>

        <ng-container [ngTemplateOutlet]="lineModule"></ng-container>

        <!-- DYNAMIC DIALOG -->
        <div class="module">
            <h1 class="module-title">Dynamic Dialog</h1>
            <div class="module-btn">
                <app-button content="Open Dialog A"
                    styleClass="btn-primary"
                    (onClickAction)="openDialogA()"
                    [disabled]="true">
                </app-button>
                <app-button content="Open Dialog B"
                    styleClass="btn-primary"
                    (onClickAction)="openDialogB()"
                    [disabled]="true">
                </app-button>
                <app-button content="Update Dialog A"
                    styleClass="btn-primary"
                    (onClickAction)="updateDialogA()"
                    [disabled]="true">
                </app-button>
                <app-button content="Remove Dialog A"
                    styleClass="btn-danger"
                    (onClickAction)="removeDialogA()"
                    [disabled]="true">
                </app-button>
            </div>
        </div>

        <ng-container [ngTemplateOutlet]="lineModule"></ng-container>

        <!-- Error Page -->
        <div class="module err-page-module">
            <h1 class="module-title">Error Page</h1>
            <p class="module-info">Click on image to redirect to error page</p>
            <div class="module-img">
                <app-image-view src="../../../assets/images/dummy-error-400.png"
                    [width]="imgRatio.Thumbnail.width"
                    [height]="imgRatio.Thumbnail.height"
                    [previewMode]="false"
                    (click)="redirectErrorPage(400)">
                </app-image-view>
                <app-image-view src="../../../assets/images/dummy-error-403.png"
                    [previewMode]="false"
                    (click)="redirectErrorPage(403)">
                </app-image-view>
                <app-image-view src="../../../assets/images/dummy-error-404.png"
                    [previewMode]="false"
                    (click)="redirectErrorPage(404)">
                </app-image-view>
                <app-image-view src="../../../assets/images/dummy-error-500.png"
                    [previewMode]="false"
                    (click)="redirectErrorPage(500)">
                </app-image-view>
            </div>
        </div>

        <ng-container [ngTemplateOutlet]="lineModule"></ng-container>

        <!-- TOAST MESSAGE -->
        <div class="module">
            <h1 class="module-title">Toast Message</h1>
            <div class="module-btn">
                <app-button content="Success"
                    styleClass="btn-primary"
                    (onClickAction)="showMessageToast('success')">
                </app-button>
                <app-button content="Error"
                    styleClass="btn-danger"
                    (onClickAction)="showMessageToast('error')">
                </app-button>
                <app-button content="Info"
                    styleClass="btn-primary !bg-info !border-[#696cff]"
                    (onClickAction)="showMessageToast('info')">
                </app-button>
                <app-button content="Warn"
                    styleClass="btn-primary !bg-warn !border-warn"
                    (onClickAction)="showMessageToast('warn')">
                </app-button>
                <app-button content="Close All"
                    styleClass="btn-danger"
                    (onClickAction)="showMessageToast('')">
                </app-button>
            </div>
        </div>

        <ng-container [ngTemplateOutlet]="lineModule"></ng-container>

        <!-- DIALOG MESSAGE -->
        <div class="module">
            <h1 class="module-title">Dialog Message</h1>
            <div class="module-btn">
                <app-button content="Success"
                    styleClass="btn-primary"
                    (onClickAction)="showMessageDialog('success')">
                </app-button>
                <app-button content="Error"
                    styleClass="btn-danger"
                    (onClickAction)="showMessageDialog('error')">
                </app-button>
                <app-button content="Info"
                    styleClass="btn-primary !bg-info !border-info"
                    (onClickAction)="showMessageDialog('info')">
                </app-button>
                <app-button content="Warn"
                    styleClass="btn-primary !bg-warn !border-warn"
                    (onClickAction)="showMessageDialog('warn')">
                </app-button>
                <app-button content="Confirm"
                    styleClass="btn-primary !bg-confirm !border-confirm"
                    (onClickAction)="showMessageDialog('confirm')">
                </app-button>
                <app-button content="Custom"
                    styleClass="btn-primary !bg-body-secondary !border-body-secondary"
                    (onClickAction)="showMessageDialog('custom')">
                </app-button>
            </div>
        </div>

        <ng-container [ngTemplateOutlet]="lineModule"></ng-container>

        <!-- LOADING/ SPLASH SCREEN -->
        <div class="module">
            <h1 class="module-title">Loading/ Splash Screen</h1>
            <div class="module-btn">
                <app-button content="Loading"
                    styleClass="btn-primary"
                    (onClickAction)="showLoadingSplashScreen(true)">
                </app-button>
                <app-button content="Splash Screen"
                    styleClass="btn-primary"
                    (onClickAction)="showLoadingSplashScreen(false)">
                </app-button>
            </div>
        </div>

        <ng-container [ngTemplateOutlet]="lineModule"></ng-container>

        <!-- IMAGE THUMBNAIL/ PREVIEW MODE -->
        <div class="module">
            <h1 class="module-title">Image Thumbnail/ Preview Mode</h1>
            <p class="module-info">You can view image at preview mode by clicking on image.</p>
            <div class="module-img">
                <app-image-carousel [images]="thumbnailImages"
                    [numVisible]="2"
                    [numScroll]="1"
                    [circular]="false">
                </app-image-carousel>
            </div>
        </div>

        <ng-container [ngTemplateOutlet]="lineModule"></ng-container>

        <!-- WRITE LOG -->
        <div class="module">
            <h1 class="module-title">Write/ Push Log</h1>
            <div class="module-btn">
                <app-button content="Write Log"
                    styleClass="btn-primary"
                    (onClickAction)="processLog('write')">
                </app-button>
                <app-button content="Push Logs"
                    styleClass="btn-primary"
                    (onClickAction)="processLog('push')">
                </app-button>
                <app-button content="Clear Logs"
                    styleClass="btn-danger"
                    (onClickAction)="processLog('clear')">
                </app-button>
            </div>
        </div>

        <ng-container [ngTemplateOutlet]="lineModule"></ng-container>

        <!-- DYNAMIC TAB -->
        <div class="module">
            <h1 class="module-title">Dynamic Tab</h1>
            <div class="module-btn">
                <app-button content="Show Tab"
                    styleClass="btn-primary"
                    [disabled]="true">
                </app-button>
            </div>
        </div>

        <ng-container [ngTemplateOutlet]="lineModule"></ng-container>

        <!-- EXPORT PDF -->
        <div class="module">
            <h1 class="module-title">Export PDF</h1>
            <div class="module-btn">
                <app-button content="Export"
                    styleClass="btn-primary"
                    [disabled]="true">
                </app-button>
            </div>
        </div>

        <ng-container [ngTemplateOutlet]="lineModule"></ng-container>

         <!-- COMMUNICATE SERVER -->
         <div class="module">
            <h1 class="module-title">Communicate Server</h1>
            <div class="module-btn">
                <app-button content="API"
                    styleClass="btn-primary"
                    [disabled]="true">
                </app-button>
                <app-button content="GraphQL"
                    styleClass="btn-primary"
                    [disabled]="true">
                </app-button>
                <app-button content="WebSocket"
                    styleClass="btn-primary"
                    [disabled]="true">
                </app-button>
            </div>
        </div>

        <ng-container [ngTemplateOutlet]="lineModule"></ng-container>

        <!-- DYNAMIC TABLE -->
        <div class="module">
            <h1 class="module-title">Dynamic Table</h1>
            <div class="module-btn">
                <app-button content="Static Table"
                    styleClass="btn-primary"
                    [disabled]="true">
                </app-button>
                <app-button content="Editable Table"
                    styleClass="btn-primary"
                    [disabled]="true">
                </app-button>
            </div>
        </div>

        <ng-container [ngTemplateOutlet]="lineModule"></ng-container>

        <!-- CREATE FORM -->
        <div class="module">
            <h1 class="module-title">Create Form</h1>
            <div class="module-btn">
                <app-button content="Create Form"
                    styleClass="btn-primary"
                    [disabled]="true">
                </app-button>
            </div>
        </div>
    </div>
</div>

<ng-template #lineModule>
    <img class="module-line" src="../../../assets/images/dummy-line.svg">
</ng-template>
