:host::ng-deep {
    .signin-wrapper {
        .signin-main {
            @apply flex items-center flex-col mx-auto w-364px py-50px;

            .signin-logo {
                .signin-img {
                    @apply w-180px h-32px;
                }
            }

            .signin-header {
                @apply mt-23px text-35px font-bold text-black-light-1;
            }

            .signin-form {
                @apply w-full mt-4 p-2;

                .form-main {
                    @apply w-full;

                    .form-container {
                        @apply px-0;

                        input:-webkit-autofill:focus {
                            -webkit-box-shadow: 0 0 0px 1000px #dff7f3 inset;
                        }

                        input:-webkit-autofill:hover {
                            -webkit-box-shadow: 0 0 0px 1000px #f5f7f7 inset;
                        }

                        app-label {
                            @apply text-black-light-1;

                            .lbl-main {
                                @apply px-5px;
                            }
                        }

                        .error-msg {
                            @apply relative;
                        }
                    }
                }

                .form-link {
                    @apply text-12px text-tc-default w-fit mt-10px pl-5px;
                    @apply focus-visible:ring-2 focus-visible:outline-none;
                }

                .form-btn {
                    @apply text-17px mt-12 w-full;
                }
            }
        }
    }
}
