<app-dialog
    [dialogId]="data.dialogId"
    [headerTitle]="data.dialogId"
    styleClass="dialogA-class"
    [modal]="false"
    [maximizable]="true"
    (onHide)="close()"
>
    <ng-container id="content">
        <div className="term-manual-main">
            <div className="tm-file">
                <div className="tm-f-text1">{{ data.propA ?? '' | translate }}</div>
                <div className="tm-f-text1">{{ data.propB }}</div>
                <div className="tm-f-text1">{{ data.propC?.a }}</div>
                <div className="tm-f-text1">{{ data.propC?.c }}</div>
            </div>
        </div>
    </ng-container>

    <ng-container id="footer">
        <app-button
            content="Button A"
            styleClass="btn-secondary"
            (onClickAction)="clickAction('Button A')"
        ></app-button>
        <app-button
            content="Button B"
            styleClass="btn-primary"
            (onClickAction)="clickAction('Button B')"
        ></app-button>
    </ng-container>
</app-dialog>
