<div [class]="'img-preview-container ' + styleClass"
    [ngClass]="{
        'cursor-pointer': fullMode
    }"
    (click)="clickImage()">
    <img [src]="src"
        [width]="width"
        [height]="height"
        [class]="styleClass"
        alt="">
</div>

<div #fullImg class="img-full-container hidden">
    <div *ngIf="isShowingFull" class="flex justify-center items-center w-full h-full">
        <div class="full-img">
            <div class="full-close">
                <app-button styleClass="btn-close-icon"
                    [isWriteLog]="false"
                    (onClickAction)="offFullMode()">
                    <i class="pi pi-times"></i>
                </app-button>
            </div>
            <img imageRatio
                [src]="src"
                [width]="imgRatio.FullMode.width"
                [height]="imgRatio.FullMode.height"
                alt="">
        </div>
    </div>
</div>
