<ng-container *ngFor="let msgItem of msgDialogService.messageList$ | async; trackBy: msgByKey">
    <app-dialog
        [dialogId]="msgItem.id"
        [styleClass]="'msg-dialog-container ' + msgItem.options?.styleClass"
        [contentClassName]="
            'rounded-b-none ' +
            msgItem.options?.contentStyleClass +
            (msgItem.options?.header ? '' : ' rounded-t-default')
        "
        [footerClassName]="msgItem.options?.footerStyleClass"
        [showHeader]="!!msgItem.options?.header"
        [draggable]="false"
        [closable]="msgItem.options?.closable ?? true"
        [closeOnEscape]="false"
        [maximizable]="false"
        [headerTitle]="msgItem.options?.header"
        (onHide)="closeMessage(msgItem)"
    >
        <ng-container id="content">
            <div [class]="'msg-icon ' + msgItem.options?.iconStyleClass"></div>
            <div [class]="'msg-content ' + msgItem.options?.detailStyleClass">
                <p>{{ msgItem.key | translate | sprintf : msgItem.options?.variables }}</p>
            </div>
        </ng-container>

        <ng-container id="footer">
            <ng-container *ngFor="let action of msgItem.options?.actions; trackBy: actionByLabel">
                <app-button
                    *ngIf="action.isDefault; else notDefault"
                    autoFocus
                    [content]="action.label"
                    [styleClass]="'dl-btn ' + action.styleClass"
                    [isWriteLog]="false"
                    (onClickAction)="clickAction(msgItem, action)"
                >
                </app-button>
                <ng-template #notDefault>
                    <app-button
                        [content]="action.label"
                        [styleClass]="'dl-btn ' + action.styleClass"
                        [isWriteLog]="false"
                        (onClickAction)="clickAction(msgItem, action)"
                    >
                    </app-button>
                </ng-template>
            </ng-container>
        </ng-container>
    </app-dialog>
</ng-container>
