<div *ngIf="splashScreenService.splashScreenOn$ | async" class="splash-screen">
    <div class="flex items-center justify-center flex-col">
        <img src="../../../../assets/images/fw-logo.svg"
        alt=""
        width="0"
        height="0"
        class="w-fit">
        <div class="spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
